@charset "UTF-8";
body {background-color: rgb(122, 75, 122); font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px;}
h1 {color: rgb(255, 217, 0); background-color:darkmagenta;}
h2 {color: darkred;}
p {text-align: justify;}