@charset "UTF-8";
/*
    Paleta de Cores:
    Verde: #49a09d;
    Lilas:#5f2c82
*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --verde:#00a7a1;
    --lilas:#7800c9;
    --branco:#ffffff;
    --v2:#004c50;
    --v3:#c4fcff;
}
html, body {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
    /*-----(((((((((((((((((((((( Técnica Flexbox )))))))))))))))))))-----*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*-----(((((((((((((((((((((( Técnica Flexbox )))))))))))))))))))-----*/
}
section#login {
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    overflow: hidden; /*----- Ocultar oque ficar fora da borda -----*/
    background-color: var(--branco);
    height: 515px;
    width: 250px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.450);
    transition: width 0.5s, heigth 0.5s;/*-- Transição de largura e altura --*/
    transition-timing-function: ease;/*----- Suavização da Transição -----*/
}
section#login > div#img {
    display: block;
    background: var(--lilas) url(../img/nyantocat.gif) right center no-repeat scroll;
    background-size: cover;
    height: 200px;
}
section#login > div#form {
    padding: 10px;
    display: block;
}
div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#form > p {
    text-align: center;
    font-size: 1em;
}
form > div.usu {
    background-color: var(--lilas);
    width: 100%;
    height: 40px;
    border: 1px solid var(--lilas);
    border-radius: 5px;
    color: var(--branco);
    padding: 0px;
    margin: 5px 0px;
}
div.usu > span {
    font-size: 2em;
    width: 40px;
}
div.usu > input {
    background-color: var(--v3);
    font-size: 1em;
    width: calc(100% - 29px);
    height: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
}
div.usu > input:focus-within /* Foco ao clicar para escrever*/
{
    background-color: var(--branco);
}
form > input {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover {
    background-color: var(--v2);
    color: var(--verde);
    border: 1px solid var(--lilas);
    text-decoration: underline;
    transition: 0.4s;
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: var(--branco);
    text-decoration: none;
    background-color: var(--verde);
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}
form > a.botao:hover {
    background-color: var(--v2);
    color: var(--verde);
    border: 1px solid var(--lilas);
    text-decoration: underline;
    transition: 0.4s;
}