@charset "UTF-8";
/*
    Paleta de Cores:
    Verde: #49a09d;
    Lilas:#5f2c82
*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --verde:#49a09d;
    --lilas:#7800c9;
    --branco:#ffffff;
}
html, body {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
    /*-----(((((((((((((((((((((( Técnica Flexbox )))))))))))))))))))-----*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*-----(((((((((((((((((((((( Técnica Flexbox )))))))))))))))))))-----*/
}
section#login {
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    overflow: hidden; /*----- Ocultar oque ficar fora da borda -----*/
    background-color: var(--branco);
    height: 500px;
    width: 250px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.450);
    transition: width 0.5s, heigth 0.5s;/*-- Transição de largura e altura --*/
    transition-timing-function: ease;/*----- Suavização da Transição -----*/
}
section#login > div#img {
    display: block;
    background: var(--lilas) url(../img/nyantocat.gif) right center no-repeat scroll;
    background-size: cover;
    height: 200px;
}
section#login > div#form {
    padding: 10px;
    display: block;
}
div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#form > p {
    text-align: center;
    font-size: 1em;
}